---
layout: base
---

<article class="post">
  <header class="post-header">
    <h1 class="post-h1">{{ title }}</h1>

    {%- if summary -%}
      <p class="post-meta">
        <span class="post-summary">{{ summary }}</span>
      </p>
    {%- endif -%}
  </header>

  <div class="post-content">
    {{ content | safe }}
  </div>

  <nav class="post-nav">
    <a href="/articles/">&larr; Back to articles</a>
    <a href="/">Home</a>
  </nav>
</article>