<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }}</title>
</head>
<body>
  <article>
    <h1>{{ title }}</h1>

    <p><small>{{ page.date.toDateString() }}</small></p>

    {{ content | safe }}
  </article>

  <p><a href="/diary/">← Back to diary</a></p>
  <p><a href="/">← Home</a></p>
</body>
</html>
